body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  background-color: #f1e7fe;
}
nav {
  display: flex;
  background-color: #913d88;
  justify-items: center;
  justify-content: center;
  color: white;
}
footer{
  position: fixed;
  background-color: #913d88;
  bottom: 0;
  width: 100vw;
  color:white;

}
.row{
  display: flex;
  flex-direction: row;
}
footer i{
  color :white;


}
.footer-span {
  letter-spacing: 0.2cm;
  padding-top: 5px;
}
main {
  margin: 1rem;
  margin-right: 5rem;
  margin-left: 5rem;

  padding: 0;
}
input {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: solid #30336b;
  background-color: transparent;
  height: 1.5rem;
  font-family: "Noto Sans KR", sans-serif;
}
.search-input {
  margin-left: 1rem;
  width: 70%;
}
i {
  cursor: pointer;
  color: #8c14fc;
  margin: 5px;
}

.btn-owne {
  margin-top: 1.5rem;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #26ae60;
  font-weight: bold;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
}
.g-row {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.m-y2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.g-row-wide {
  grid-column: span 3 / auto;
}
.space-evenly {
  display: flex;
  justify-content: space-evenly;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.h1 {
  text-align: center;
  letter-spacing: 0.2cm;
}
.cards {
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;

}
.card {
  background-color: white;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15), 0px 10px 20px rgba(0, 0, 0, 0.05),
}
.card-inner {
  background: #aea8d3;
  border: none;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.5rem;
}
.card-inner:hover {
  background: #674172;
  color: white;
}
.card-title {
  font-weight: bold;
  letter-spacing: 0.1cm;
}

.err-msg {
  color: red;
  font-weight: bold;
}
.msg {
  color: #f1e7fe;
  text-align: center;
}

/* ///For the tables */
caption {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.2cm;
}
table {
 
    0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
  font-size: 14px;
  width: 100%;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
}

th {
  color: #ffffff;
  background: #8c14fc;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
  /* font-weight: bold; */
  font-size: 1rem;

  letter-spacing: 0.09cm;
}

tr {
  text-align: center;
  background: #f1e7fe;
}

tr:hover {
  background: #d5b8ff;
  color: black;
}

td {
  word-wrap: break-word;
  border-bottom: 1px solid #ccc;
}

/*--------------------------------------------------------------
    # Small and medium screens
    --------------------------------------------------------------*/
@media all and (max-width: 900px) {
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    font-family: "Karla", sans-serif;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  table {
    box-shadow: none;
  }

  tr {
    margin: 0 0 1rem 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    border-top: 5px solid #8c14fc;
    border-radius: 7px;
    padding-right: 5px;
  }

  tr:hover {
    background: #8c14fc;
    color: white;
  }

  td {
    border: none;
    position: relative;
    padding-left: 50%;
    text-align: right;
  }

  td:before {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-title);
    font-weight: bold;
    text-align: left;
  }
}

/* ///for modeles only  */

.btn {
  background: #428bca;
  border: #357ebd solid 1px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color 0.1s ease;
}
.btn:hover {
  background: #357ebd;
}
.btn.btn-big {
  font-size: 18px;
  padding: 15px 20px;
  min-width: 100px;
}
.btn-close {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 0;
}
.btn-close:hover {
  color: #777777;
}
.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modal:target:before {
  display: block;
}
.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}
.modal-dialog {
  background: #a683af;

  border-radius: 5px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 360px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-body {
  padding: 20px;
}
.modal-header,
.modal-footer {
  padding: 10px 20px;
}
.modal-header {
  border-bottom: #eee solid 1px;
}
.modal-header h2 {
  font-size: 20px;
}
.modal-footer {
  border-top: #eee solid 1px;
  text-align: right;
}
