main {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}
.col {
  display: flex;
  flex-direction: column;
}
.error-msg {
  color: red;
}
.warning-msg {
  display: none;
  text-align: center;
  background-color: goldenrod;
  color: black;
}
h1 {
  text-align: center;
  letter-spacing: 0.3rem;
}
div {
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 0.5rem;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: solid #30336b;
  background-color: transparent;
  height: 1.5rem;
  font-family: "Noto Sans KR", sans-serif;
}
i {
  cursor: pointer;
  color: #30336b;
  margin: 5px;
}

.search-input {
  width: 95%;
  margin-bottom: 10px;
}
/* //for the table  a sample templete */
/* //for table only */
caption {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.2cm;
}
table {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
  font-size: 14px;
  width: 100%;

  border-radius: 5px;
}

th {
  color: #ffffff;
  background: #30336b;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
  /* font-weight: bold; */
  font-size: 1rem;
  border-radius: 5px;
  letter-spacing: 0.09cm;
}

tr {
  text-align: center;
  background: #fff0f6;
  border-radius: 5px;
}

tr:hover {
  background: #4bcffa;
  color: black;
  cursor: unset;
}

td {
  word-wrap: break-word;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

/*--------------------------------------------------------------
    # Small and medium screens
    --------------------------------------------------------------*/
@media all and (max-width: 900px) {
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  table {
    box-shadow: none;
  }

  tr {
    margin: 0 0 1rem 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    border-top: 5px solid #30336b;
    border-radius: 7px;
    padding-right: 5px;
  }

  tr:hover {
    background: #bebfce;
    color: black;
  }

  td {
    border: none;
    position: relative;
    padding-left: 50%;
    text-align: right;
  }

  td:before {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-title);
    font-weight: bold;
    text-align: left;
  }
}

/* //css for module templete from the web */
hr {
  clear: both;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  border-top: 1px solid #aaa;
}
h1 {
  font-size: 30px;
  margin-bottom: 40px;
}
p {
  margin-bottom: 20px;
}
.btn {
  background: #428bca;
  border: #357ebd solid 1px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color 0.1s ease;
}
.btn:hover {
  background: #357ebd;
}
.btn.btn-big {
  font-size: 18px;
  padding: 15px 20px;
  min-width: 100px;
}
.btn-close {
  color: #aaa;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 0;
}
.btn-close:hover {
  color: #919191;
}
.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modal:target:before {
  display: block;
}
.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}
.modal-dialog {
  background: #fefefe;
  border: #333 solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 360px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-body {
  padding: 20px;
}
.modal-header,
.modal-footer {
  padding: 10px 20px;
}
.modal-header {
  border-bottom: #eee solid 1px;
}
.modal-header h2 {
  font-size: 20px;
}
.modal-footer {
  border-top: #eee solid 1px;
  text-align: right;
}
